.host-active {
    background-color: black;
    i.fas.fa-fw.fa-chart-area {
        color: white !important;
    }
    span {
        color: white;
        font-weight: 600;
        font-size: 14px !important;
    }
}
